* {
    margin: 0;
    padding: 0;
}

.hide {
    display:none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* .matriz {
    width: auto;
} */